<mat-card class="card">
  <mat-card-title>Angular 14 App</mat-card-title>
  <mat-card-content>
    <p>
      Made with ❤️ just a night before this talk, by yours truly, <a class="handle" href="https://twitter.com/SiddAjmera" target="_blank">@SiddAjmera</a>
    </p>
    <img
      src="https://firebase.google.com/images/homepage/solutions-illo_2x.png"
      alt="Artwork"
    />
  </mat-card-content>
  <mat-card-actions>
    <a href="https://twitter.com/SiddAjmera" target="_blank">
      <button mat-button>
        <mat-icon> follow_the_signs</mat-icon>Follow on Twitter
      </button>
    </a>
    <a href="https://github.com/SiddAjmera" target="_blank">
      <button mat-button>
        <mat-icon>integration_instructions</mat-icon>Follow on GitHub
      </button>
    </a>
  </mat-card-actions>
</mat-card>
